# Based on: https://github.com/fly-apps/redis/blob/main/fly.toml

app = "myorg-redis"

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[[mounts]]
  destination = "/data"
  encrypted = false
  processes = []
  source = "myorg_redis_server"

[metrics]
  port = 9091
  path = "/metrics"

[build]
  image = "flyio/redis:6.2.6"

[env]

[experimental]
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8080
  ports = []
  processes = []
  protocol = "tcp"
  script_checks = []
  tcp_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"
